

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
/*Navigation Section */
}.top-navigation {
	background-color: #fff;
}
a {
	text-decoration: none;
	transition: color 0.5s ease;
	color: #838994;
}
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links a:hover {
    cursor: pointer;
    color: #333333;
}
/* Middle Large Introduction Section */
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: lighter;
}
.introduction h1 {
    margin-top: 15rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.15rem;
    font-size: 1.563rem;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
	display: block;
    margin: 0 auto;
    margin-top: 3rem;
}
button:hover {
	cursor: pointer;
	color: #000000;
	background-color: #6c6666;
}