

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}
/*Navigation Section */
}.top-navigation {
	background-color: #fff;
	position:fixed;
	width: 100%;
	z-index: 9999;
}
a {
	text-decoration: none;
	transition: color 0.5s ease;
	color: #838994;
}
.top-navigation > .content {
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
	font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}
.top-navigation .links li.active a {
    color: #333333;
    
}
.top-navigation .links a:hover {
    cursor: pointer;
    color: #333333;
}
.top-navigation {
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1000;

}
/* Middle Large Introduction Section */
.introduction {
	background-image: url("../images/first-background.jpg");
	background-position: 0 bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 45.938rem;
	overflow: auto;
}
.introduction h1, .introduction h3 {
	color: white;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
    margin-top: 15rem;
    font-size: 3.125rem;
}
.introduction h3 {
    margin-top: 1.15rem;
    font-size: 1.563rem;
}
button {
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
	display: block;
    margin: 0 auto;
    margin-top: 3rem;
}
button:hover {
	cursor: pointer;
	color: #000000;
	background-color: #6c6666;
}
/* Icons Section */
.cases h2 {
	font-size: 2.75rem;
	margin: 1rem 0 3rem;
	font-weight: 300;
	text-align: center;
}

.icons-list .icons {
	display: inline-block;
	list-style-type: none;
	padding: 0px 20px;
}
.icons-list {
	padding: 0;
}

.cases .devices {
	display: block;
	/*styles to assist with debugging */
	border: 1px solid black;
	box-sizing: border-box;
	height: 4em;
	text-align: center;
}
.social {
	text-align: center;
}
.copyright {
	font-size: 0.9 rem;
	font-weight: 300;
	color: #838994;
}
hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin: 1.313rem;
}
.social .icons > li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	margin: 1.25rem 5px;
	border: 1px solid #eaebec;
	padding: 0.625rem 0;
	text-align: center;
}
.social .icons > li:hover {
	cursor: pointer;
}
.social .twitter {
	color: #55acee;
}
.social .facebook {
	color: #4c66a4;
}
.social .instagram {
	color: #3f729b;
}
.icons-list {
	text-align: center;
}